
*{
    box-sizing: border-box;
    color: #fff;
    font-family: cursive;
}
#container{
/*    height: 440px;*/
    width: 500px;
    padding: 60px 80px;
    margin: 0px auto;
    background: #283C4F;
    position: relative;
}
.text-center{
    text-align: center;
}
#line{
    background: #fff;
    height: 4px;
    margin: 10px auto;
    margin-bottom: 30px;
    width: 100px;
}
#playing-field{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 50px;
    margin-top: 50px;
}
#primary-heading{
    font-size: 45px;
    font-family: cursive;

}
.b-t-n{
    border-top: none;
}
.b-l-n{
    border-left: none;
}
.b-b-n{
    border-bottom: none;
}
.b-r-n{
    border-right: none;
}
.box{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    height: 90px;
    width: 100%;
    border: solid 1px #F3C178;
    line-height: 90px;
}
.b-t-n{
    border-top: none;
}
.b-l-n{
    border-left: none;
}
.b-b-n{
    border-bottom: none;
}
.b-r-n{
    border-right: none;
}
#startReset:active{
    background-color: #F03A47;
    box-shadow: 0 0;
    color: white;
    top: 4px;
}


#startReset {
    width: 100px;
    height: 38px;
    background: #F3C178;
    margin: 0px auto;
    margin-bottom: 20px;
    line-height: 38px;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
    text-align: center;
    color: #333;
    font-family: cursive;
}
#playerOneScore,#playerTwoScore,#colon{
    font-family: cursive;
    position: absolute;
    width: 113px;
    text-align: center;
    font-size: 30px;
}
#playerTwoScore{
    left: 306px;
    
}
#colon{
    left: 193px;
}
#selectOpponent{
    width: 400px;
    height: 200px;
    position: absolute;
    left: 50px;
    top: 200px;
    z-index: 2;
    background: #F3C178;
    text-align: center;
    border-radius: 10px;
    display: none;
}
#selectOpponent .heading{
    font-size: 30px;
    margin: 20px 0;
    text-transform: capitalize;
    font-family: cursive;
    color: #333;
}
#player,#computer{
    background: #283C4F;
    margin: 10px 40px;
    padding: 10px;
    font-family: cursive;
    border-radius: 10px;
/*    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);*/
    cursor: pointer;
    transition: all .2s;
}
#player:active,#computer:active {
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    top: 4px;
}
#gameover{
    height: 100px;
    width: 400px;
    position: absolute;
    top: 250px;
    left: 50px;
/*    line-height: 100px;*/
    z-index: 2;
    background: #F3C178;
    color: #333;
    font-size: 30px;
    padding: 8px 0;
    border-radius: 10px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    font-family: cursive;
    display: none;
}
#winner{
    color: #333;
}
#gameover p{
    margin: 0;
    color: #333;
    
}